{% extends 'auction/layout.html' %}

{% block title %}
    Create Listing
{% endblock %}

{% block body %}
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}
    <h2 class="text-center">Create a new Listing</h2>
    <br>
    <div class="text-center">
        <form action="{% url 'create' %}" method="post" class="form-create">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_title">Product Title</label>
                {{ form.title }}
            </div>
            <div class="form-group">
                <label for="id_desc">Product Description</label>
                {{ form.desc }}
                <small class="form-text text-muted">Please enter a description of less than 200 words.</small>
            </div>
            <div class="form-group">
                <label for="id_price">Starting Bid</label>
                {{ form.price }}
            </div>
            <div class="form-group">
                <label for="id_image">(Optional) Add a Product Image</label>
                {{ form.image }}
            </div>
            <div class="form-group">
                <label for="id_category">Product Category</label>
                {{ form.category }}
            </div>
            <button type="submit" class="btn btn-primary">Create Listing</button>
        </form>
    </div>
{% endblock %}