{% extends "auction/layout.html" %}

{% block title %}
    Watchlist
{% endblock %}

{% block body %}
    <h2 class="text-center heading">My Watchlist</h2>
    <hr>
    {% for listing in wlist %}
        <div class="card">
            <div class="card-body row">
                <div class="col-2">
                {% if listing.image %}
                        <img class="card-img rounded float-left" src="{{ listing.image }}" alt="Product Image">
                {% endif %}
                </div>
                <div class="col">
                    <h4 class="card-title">
                        <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                    </h4>
                    <h5 class="card-subtitle"><strong>${{ listing.price }}</strong></h5>
                    <p class="card-text">{{ listing.desc }}</p>
                </div>
            </div>    
        </div>
        <br>
    {% empty %}
        <h3 class="text-center">No Available Listings</h3>
    {% endfor %}
{% endblock %}